<section id="au">
  <h1>About us</h1>
  <h4>We produce non metal powders and products through Metallurgical processes and Metallurgical standards</h4>
  <h4>Pioneers in Non Metal powder industry for more than 25 years</h4>
  <h2>Quality standards</h2>
  <ul>
    <li>Magnalium powders are quality checked in every process under Powder Metallurgical techniques.</li>
    <li>Particle size of every powdered products are maintained throughout every process in every mesh sizes</li>
    <li>Every products can be customized according to requirement.</li>
  </ul>
  <h2>Why us.</h2>
  <ul>
    <li>Metal compositions are checked before and after alloying through OES (Optical Emission Spectroscopy)</li>
    <li>We guarantee for the best quality in the market with an affordable price along with a prompt delivery nationally or overseas.</li>
    <li>We use raw materials of best quality which is imported from international markets and produced through international
      standardized manufacturing methods.</li>
  </ul>
</section>
