<section id="au">
  <h1>About us</h1>
  <h4>We produce non metal powders and products through Metallurgical processes and Metallurgical standards</h4>
  <h4>Pioneers in Non Metal powder industry for more than 25 years</h4>
  <h2>Quality standards</h2>
  <ul class="d-flex">
    <li class="col-3 d-flex flex-column align-items-center">
      <i class="fa fa-bug"></i>
      <div>Magnalium powders are quality checked in every process under Powder Metallurgical techniques.</div>
    </li>
    <li class="col-3 d-flex flex-column align-items-center">
      <i class="fa fa-bug"></i>
      <div>Particle size of every powdered products are maintained throughout every process in every mesh sizes</div>
    </li>
    <li class="col-3 d-flex flex-column align-items-center">
      <i class="fa fa-bug"></i>
      <div>Every products can be customized according to requirement.</div>
    </li>
    <li class="col-3 d-flex flex-column align-items-center">
      <i class="fa fa-bug"></i>
      <div>Every products can be customized according to requirement.</div>
    </li>
  </ul>
  <h2>Why us.</h2>
  <ul class="d-flex">
    <li class="col-3 d-flex flex-column align-items-center">
      <i class="fa fa-bug"></i>
      <div>Metal compositions are checked before and after alloying through OES (Optical Emission Spectroscopy)</div>
    </li>
    <li class="col-3 d-flex flex-column align-items-center">
      <i class="fa fa-bug"></i>
      <div>Metal compositions are checked before and after alloying through OES (Optical Emission Spectroscopy)</div>
    </li>
    <li class="col-3 d-flex flex-column align-items-center">
      <i class="fa fa-bug"></i>
      <div>We guarantee for the best quality in the market with an affordable price along with a prompt delivery nationally or overseas.</div>
    </li>
    <li class="col-3 d-flex flex-column align-items-center">
      <i class="fa fa-bug"></i>
      <div>We use raw materials of best quality which is imported from international markets and produced through international
      standardized manufacturing methods.</div>
    </li>
  </ul>
</section>
