@import '../../variables.scss';

:host {
    width: 100%;
}
.page-holder {
    height: 100vh;
    min-height: 700px;
    position: relative;
}
#sb-1 {
    flex-direction: row-reverse;
    margin-top: 150px;
    margin-bottom: 150px;
}
#sb-c {
    width: 20%;
    padding-bottom: 4rem;
    margin-left: 3rem;
    & * {
        width: 150%;
        margin-left: 20%;
    }
    .sb {
        font-size: 1.2rem;
        color: white;
        text-indent: 2rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}
#sb {
    color: $text;
    font-family: Satisfy, sans-serif;
}
.sb {
    font-family: Montserrate, sans-serif;
}
#sb-top {
    width: 70%;
    perspective: 1000px;
    position: relative;
    height: 60vh;
}
.sb-stack {
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    box-shadow: 15px 30px 30px 10px rgba(0,0,0,0.5);
    top: 0;
    &:nth-child(1) {
        background-image: url(/assets/stock/busy-glassware-job-266141.jpg);
        transform: translateZ(-200px) translateY(-50px) translateX(-150px) rotateY(-28deg);
        z-index: 53;
    }
    &:nth-child(2) {
        background-image: url(/assets/stock/blur-close-up-engineering-633850.jpg);
        transform: translateZ(-200px) translateX(-100px) rotateY(-28deg);
        z-index: 52;
    }
    &:nth-child(3) {
        background-image: url(/assets/stock/antique-blank-camera-269923.jpg);
        transform: translateZ(-200px) translateY(50px) translateX(-50px) rotateY(-28deg);
        z-index: 51;
    }
}


//---------------------------
:root {
    --cvWidth: 0px;
  }
  #cv2 {
    position: relative;
    height: calc(var(--cvWidth) * .62);
    div {
      position: absolute;
      color: white;
      cursor: pointer;
    }
  }
  @for $i from 0 through 5 {
    #cv2-#{$i} {
      background: rgb(random(255), random(255), random(255));
    }
  }
  #cv2-0 {
    left: 0;
    top: 0;
    height: calc(var(--cvWidth) * .2);
    width: calc(var(--cvWidth) * .6);
    text-align: center;
    background: $primary;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    // min-height: 200px;
  }
  #cv2-1 {
    left: calc(var(--cvWidth) * .6);
    top: 0;
    height: calc(var(--cvWidth) * .2);
    width: calc(var(--cvWidth) * .2);
    background-color: $catch95;
    // min-height: 200px;
  }
  #cv2-2 {
    left: calc(var(--cvWidth) * .8);
    top: 0;
    height: calc(var(--cvWidth) * .2);
    width: calc(var(--cvWidth) * .2);
    // min-height: 200px;
    background-color: $catch85;
  }
  #cv2-3 {
    top: calc(var(--cvWidth) * .2);
    left: 0;
    height: calc(var(--cvWidth) * .21);
    width: calc(var(--cvWidth) * .21);
    background-image: url(/assets/stock/blank-page-blur-close-up-949218.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    div {
        color: white;
        background: rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
        font-size: 20px;
        font-family: Roboto, sans-serif;
    }
}
#cv2-4 {
    top: calc(var(--cvWidth) * .2);
    left: calc(var(--cvWidth) * .21);
    height: calc(var(--cvWidth) * .21);
    width: calc(var(--cvWidth) * .21);
    font-size: 5rem;
    background: $catch110;
    // min-height: 200px;
}
#cv2-5 {
    top: calc(var(--cvWidth) * .41);
    left: 0;
    height: calc(var(--cvWidth) * .21);
    width: calc(var(--cvWidth) * .21);
    // min-height: 200px;
    background-color: $btn;
    font-size: 5rem;
    color: $primary !important;
}
#cv2-6 {
    top: calc(var(--cvWidth) * .41);
    left:  calc(var(--cvWidth) * .21);
    height: calc(var(--cvWidth) * .21);
    width: calc(var(--cvWidth) * .21);
    // min-height: 200px;
    font-size: 5rem;
    color: $primary !important;
    background-color: $alt;
  }
  #cv2-7 {
    top: calc(var(--cvWidth) * .2);
    left:  calc(var(--cvWidth) * .42);
    height: calc(var(--cvWidth) * .31);
    width: calc(var(--cvWidth) * .31);
    // min-height: 200px;
    background-image: url(/assets/stock/iron-melt-furnace-metal-hot-fire-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    div {
        color: white;
        background: rgba(0,0,0,0.5);
        position: absolute;
        bottom: 0;
        font-size: 20px;
        font-family: Roboto, sans-serif;
    }
  }
  #cv2-8 {
    top: calc(var(--cvWidth) * .2);
    left:  calc(var(--cvWidth) * .73);
    height: calc(var(--cvWidth) * .135);
    width: calc(var(--cvWidth) * .135);
    // min-height: 200px;
    color: $primary;
    background: #FCE694;
  }
  #cv2-9 {
    top: calc(var(--cvWidth) * .2);
    left:  calc(var(--cvWidth) * .865);
    height: calc(var(--cvWidth) * .135);
    width: calc(var(--cvWidth) * .135);
    font-size: 3rem;
    color: $primary;
    background: #F5CB5C;
  }
  #cv2-10 {
    top: calc(var(--cvWidth) * .335);
    left:  calc(var(--cvWidth) * .73);
    height: calc(var(--cvWidth) * .175);
    width: calc(var(--cvWidth) * .27);
    // min-height: 200px;
    background: $catch;
  }
  
  // 037CA9
  // 53C6F2
  // 92C5D8
  // 037CA9

// ------------------------
#cp {
    & > div {
        
    }
    height: 50vw;
}
#cp-carousel {
    background: grey;
    width: 50vw;
    height: 50vh;
}
#cp-holder {
    width: 40vw;
    height: 80vh;
    background: yellow;
    position: relative;
    div {
        position: absolute;
    }
}
.cp-sub {
    background: teal;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
@for $i from 1 through 5 {
    .cp-sub:nth-child(#{$i}) {
        top: calc((($i - 1) * 10vw) - 25px);
    }
}
@function circleCoord($radius) {
    @for $rad from 0 through 5 {
        
    }
}
.cp-main {
    background: steelblue;
    width: 40vw;
    height: 40vw;
    left: 30vw;
    top: 0;
    border-radius: 50%;
}

// -------------------- ping-pong ---------------------------------
#ping-pong {
    height: 40vh;
}
.ping-pong {
    width: 6.25vw;
    height: 6.25vw;
    border-radius: 50%;
    background: steelblue;
    transition: all .3s;
    &.active {
        transform: scale(0);
    }
}
