<section id="page-one" class="page-holder">
  <!-- <jumbo-hover></jumbo-hover> -->

  <div>Pioneers in Non Metal Powder Metallurgy</div>
  <div>Global Leaders in Industry</div>
  <div>We produce non metal powders and products through Metallurgical processes and Metallurgical standards</div>

  <h3>Quality standards</h3>
  <p>Magnalium powders are quality checked in every process under Powder Metallurgical techniques</p>
  <p>Particle size of every powdered products are maintained throughout every process in every mesh sizes</p>
  <p>Every products can be customized according to requirement</p>

  <h3>Why Us?</h3>
  <p>Metal compositions are checked before and after alloying through OES (Optical Emission Spectroscopy)</p>
  <p>We guarantee for the best quality in the market with an affordable price along with a prompt delivery nationally or overseas</p>
  <p>We use raw materials of best quality which is imported from international markets and produced through international standardized
    manufacturing methods</p>
</section>

<div class="w-100 d-flex justify-content-between" id="sb-1">
  <img id="sb-top" src="assets/stock/busy-glassware-job-266141.jpg" />
  <div id="sb-c">
    <h2 id="sb">Story Behind</h2>
    <p class="sb mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <p class="sb mx-5 mb-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>

<section id="cp" class="d-flex justify-content-between align-items-center">
  <div id="cp-carousel"></div>
  <div id="cp-holder">
    <div class="cp-main">
      <div class="cp-sub" *ngFor="let cpSub of cpSubs"></div>
    </div>
  </div>
</section>

<section class="page-holder">
  <hover-info></hover-info>
</section>

<section class="page-holder">
  <safari-browser></safari-browser>
</section>
