<section id="contact-us">
  <h2>Adding the personal touch</h2>
  <div id="contact-address" class="row">

    <div class="contact-card col">
      <h6>UK (Head office)</h6>
      <h5>LPW Technology Ltd</h5>
      <p>16 Berkeley Court</p>
      <p>Manor Park, Runcorn, Cheshire</p>
      <p>WA7 1TQ United Kingdom</p>
      <div>
        <span>Tel</span>
        <span>+44 (0)1928 240 530</span>
      </div>
      <div>
        <span>Email</span>
        <span>sales@lpwtechnology.com</span>
      </div>
    </div>

    <div class="contact-card col">
      <h6>Americas</h6>
      <h5>LPW Technology Inc</h5>
      <p>Parkway West Business Park</p>
      <p>511 Parkway View Drive</p>
      <p>Pittsburgh PA 15205 USA</p>
      <div>
        <span>USA Toll Free</span>
        <span>844-480-7663</span>
      </div>
      <div>
        <span>Tel</span>
        <span>+1-412-788-2856</span>
      </div>
      <div>
        <span>Email</span>
        <span>sales.america@lpwtechnology.com</span>
      </div>
    </div>

    <div class="contact-card col">
      <h6>Europe</h6>
      <h5>LPW South Europe Srl </h5>
      <p>Via Nibbia 1</p>
      <p>28060 San Pietro Mosezzo (NO)</p>
      <p>Italy</p>
      <div>
        <span>Tel</span>
        <span>+39 0321 437563</span>
      </div>
      <div>
        <span>Email</span>
        <span>sales.italy@lpwtechnology.com</span>
      </div>
      <hr>
      <h5>LPW Deutschland</h5>
      <div>
        <span>Tel</span>
        <span>+49 (0)1525 5409677 </span>
      </div>
      <div>
        <span>Email</span>
        <span>sales.europe@lpwtechnology.com</span>
      </div>
    </div>

    <div class="contact-card col">
      <p>Via Nibbia 1</p>
      <div>
        <span>visit</span>
        <span>www.lpwtechnology.com</span>
      </div>
      <span>lpwtechnology.com</span>
    </div>

  </div>
  <div id="contact-map" (click)="map = !map" [class.active]="map">
    <div class="w-100 h-100"></div>
  </div>
</section>
